In [ ]:
## Boolean

#A boolean data type represents one of the two values: _True_ or _False_. The use of these data types will be clear once we start using the comparison operator. The first letter **T** for True and **F** for False should be capital unlike JavaScript.
#**Example: Boolean Values**

In [1]:
print(True)
print(False)

True
False

In [2]:
True+True

2

In [ ]:
### Arithmetic Operators:

- Addition(+): a + b
- Subtraction(-): a - b
- Multiplication(*): a * b
- Division(/): a / b
- Modulus(%): a % b
- Floor division(//): a // b
- Exponentiation(**): a ** b

In [3]:
a= 10
b = 20

In [4]:
a

10

In [5]:
b

20

In [6]:
a+b

30

In [7]:
a*3

30

In [9]:
a, b = 100, 200

In [10]:
a

100

In [11]:
b

200

In [12]:
#**Example:Integers**


# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

In [13]:
#**Example:Floats**

 
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

Floating Point Number, PI 3.14
Floating Point Number, gravity 9.81

In [14]:
#**Example:Complex numbers**


# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Complex number:  (1+1j)
Multiplying complex numbers:  (2+0j)

In [16]:
com = 26 + 45j

In [17]:
com.imag

45.0

In [18]:
com.real

26.0

In [19]:
com.conjugate

In [20]:
#**Example:**


# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [22]:
# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [24]:
print(total,  " = a+b")

5  = a+b

In [25]:
print(total)

5

In [26]:
#**Example:**


print('== Addition, Subtraction, Multiplication, Division, Modulus ==')

# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

== Addition, Subtraction, Multiplication, Division, Modulus ==

In [27]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.3333333333333333
remainder:  1

In [31]:
print( 'total:-',total)

total:- 7

In [32]:
#**Example:**

# Calculating area of a circle

radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [34]:
# Calculating area of a rectangle

length = 10
width = 20
area_of_rectangle = length * width
print("area of rectangle", area_of_rectangle)

area of rectangle 200

In [37]:
# Calculating a weight of an object

mass = 75
gravity = 9.81
weight = mass * gravity
print("weight of object ", weight, 'N')                         # Adding unit to the weight

weight of object  735.75 N

In [38]:
# Calculate the density of a liquid

mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3
print("density :", density, "Kg/m^3")

density : 1000.0 Kg/m^3

In [40]:
# volume of water tank

length = 20
width = 20
depth = 40

volume = length*width*depth

print(volume, "cubic meter")

16000 cubic meter

In [44]:
### Comparison Operators

#In programming we compare values, we use comparison operators to compare two values. We check if a value is greater or less or equal to other value. The following table shows Python comparison operators which was taken from [w3shool](https://www.w3schools.com/python/python_operators.asp).

#**Example: Comparison Operators**


print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2

True
True
False
True
True
False
True

In [45]:
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

False
True
True
False
True
True
False

In [46]:
# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True == True:  True
True == False:  False
False == False: True

In [47]:
#In addition to the above comparison operator Python uses:

#- _is_: Returns true if both variables are the same object(x is y)
#- _is not_: Returns true if both variables are not the same object(x is not y)
#- _in_: Returns True if the queried list contains a certain item(x in y)
#- _not in_: Returns True if the queried list doesn't have a certain item(x in y)

    
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:15: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:15: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\amitm\AppData\Local\Temp\ipykernel_3228\1368269086.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\amitm\AppData\Local\Temp\ipykernel_3228\1368269086.py:10: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\amitm\AppData\Local\Temp\ipykernel_3228\1368269086.py:15: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [48]:
2**2

4

In [50]:
### Logical Operators

#Unlike other programming languages python uses keywords _and_, _or_ and _not_ for logical operators. Logical operators are used to combine conditional statements:


print(3 > 2 and 4 > 3) # True - because both statements are true

print(3 > 2 and 4 < 3) # False - because the second statement is false

print(3 < 2 and 4 < 3) # False - because both statements are false

print('True and True: ', True and True)

print(3 > 2 or 4 > 3)  # True - because both statements are true

print(3 > 2 or 4 < 3)  # True - because one of the statements is true

print(3 < 2 or 4 < 3)  # False - because both statements are false

print('True or False:', True or False)

print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False

print(not True)      # False - Negation, the not operator turns true to false

print(not False)     # True

print(not not True)  # True

print(not not False) # False

True
False
False
True and True:  True
True
True
False
True or False: True
False
False
True
True
False

In [ ]:
# and

T and T = true
T and F = false
F and T = false
F and F = false

In [ ]:
# or

T or T = T
T or F = T
F or T = T
F or F = F

In [ ]:
## ðŸ’» Exercises - Day 3

1. Declare your age as integer variable
2. Declare your height as a float variable
3. Declare a variable that store a complex number
4. Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

```py
    Enter base: 20
    Enter height: 10
    The area of the triangle is 100
```

5. Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).

```py
Enter side a: 5
Enter side b: 4
Enter side c: 3
The perimeter of the triangle is 12
```

6. Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
7. Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.
8. Calculate the slope, x-intercept and y-intercept of y = 2x -2
9. Slope is (m = y2-y1/x2-x1). Find the slope and [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance#:~:text=In%20mathematics%2C%20the%20Euclidean%20distance,being%20called%20the%20Pythagorean%20distance.) between point (2, 2) and point (6,10) 
10. Compare the slopes in tasks 8 and 9.
11. Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.
12. Find the length of 'python' and 'dragon' and make a falsy comparison statement.
13. Use _and_ operator to check if 'on' is found in both 'python' and 'dragon'
14. _I hope this course is not full of jargon_. Use _in_ operator to check if _jargon_ is in the sentence.
15. There is no 'on' in both dragon and python
16. Find the length of the text _python_ and convert the value to float and convert it to string
17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
19. Check if type of '10' is equal to type of 10
20. Check if int('9.8') is equal to 10
21. Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?

```py
Enter hours: 40
Enter rate per hour: 28
Your weekly earning is 1120
```

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds.
```

23. Write a Python script that displays the following table

```py
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125
```