In [1]:
import pandas as pd

In [4]:
df= pd.read_csv("C:\\Users\\amitm\\Downloads\\sales_data_final.csv")

In [6]:
df.head(10)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",55,2,0.1,15.342,1.80,Medium,2011
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,Technology,Machines,"Okidata Inkjet, Wireless",314,1,0.0,3.120,24.10,Medium,2011
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Appliances,"Hoover Microwave, White",276,1,0.1,110.412,125.32,Critical,2011
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.4,-319.464,107.10,Low,2011
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Furniture,Chairs,"Novimex Swivel Stool, Set of Two",667,4,0.0,253.320,81.26,High,2011

In [7]:
df.tail(10)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51280,TZ-2014-8220,12/31/2014,1/6/2015,Standard Class,Christine Kargatis,Home Office,Dar Es Salaam,Tanzania,Africa,Africa,...,Office Supplies,Labels,"Harbour Creations Removable Labels, Adjustable",50,6,0.0,6.8400,2.15,Medium,2014
51281,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,GBC Binding covers,21,2,0.2,6.4750,2.06,Medium,2014
51282,UP-2014-4410,12/31/2014,1/4/2015,Standard Class,Guy Thornton,Consumer,Zaporizhzhya,Ukraine,EMEA,EMEA,...,Office Supplies,Labels,"Avery Round Labels, Alphabetical",28,4,0.0,6.1200,1.70,Medium,2014
51283,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,Office Supplies,Paper,"Eaton Note Cards, 8.5 x 11",79,3,0.0,25.3800,1.41,Medium,2014
51284,MX-2014-108574,12/31/2014,1/4/2015,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,...,Office Supplies,Labels,"Novimex Legal Exhibit Labels, Adjustable",17,3,0.0,0.6600,1.32,Medium,2014
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [8]:
df.shape

(51290, 21)

In [9]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB

In [11]:
df["quantity"]

0        2
1        3
2        4
3        3
4        5
        ..
51285    2
51286    1
51287    3
51288    1
51289    3
Name: quantity, Length: 51290, dtype: int64

In [12]:
type(df["quantity"])

pandas.core.series.Series

In [13]:
df[["quantity", "discount","profit"]]

       quantity  discount    profit
0             2       0.0  106.1400
1             3       0.1   36.0360
2             4       0.0   29.6400
3             3       0.5  -26.0550
4             5       0.1   37.7700
...         ...       ...       ...
51285         2       0.2    4.5188
51286         1       0.0    0.4200
51287         3       0.0   12.3600
51288         1       0.0    0.5600
51289         3       0.2   -0.6048

[51290 rows x 3 columns]

In [14]:
type(df[["quantity", "discount","profit"]])

pandas.core.frame.DataFrame

In [15]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [16]:
df[["profit"]]

         profit
0      106.1400
1       36.0360
2       29.6400
3      -26.0550
4       37.7700
...         ...
51285    4.5188
51286    0.4200
51287   12.3600
51288    0.5600
51289   -0.6048

[51290 rows x 1 columns]

In [20]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
quantity,51290.0,3.476545,2.278766,1.000,2.00,3.00,5.00,14.000
discount,51290.0,0.142908,0.212280,0.000,0.00,0.00,0.20,0.850
profit,51290.0,28.641740,174.424113,-6599.978,0.00,9.24,36.81,8399.976
shipping_cost,51290.0,26.375915,57.296804,0.000,2.61,7.79,24.45,933.570
year,51290.0,2012.777208,1.098931,2011.000,2012.00,2013.00,2014.00,2014.000

In [21]:
df.dtypes == 'object'

order_id           True
order_date         True
ship_date          True
ship_mode          True
customer_name      True
segment            True
state              True
country            True
market             True
region             True
product_id         True
category           True
sub_category       True
product_name       True
sales              True
quantity          False
discount          False
profit            False
shipping_cost     False
order_priority     True
year              False
dtype: bool

In [23]:
df[df.dtypes[df.dtypes == 'object'].index].describe().T

                count unique              top   freq
order_id        51290  25035   CA-2014-100111     14
order_date      51290   1430        6/18/2014    135
ship_date       51290   1464       11/22/2014    130
ship_mode       51290      4   Standard Class  30775
customer_name   51290    795  Muhammed Yedwab    108
segment         51290      3         Consumer  26518
state           51290   1094       California   2001
country         51290    147    United States   9994
market          51290      7             APAC  11002
region          51290     13          Central  11117
product_id      51290  10292  OFF-AR-10003651     35
category        51290      3  Office Supplies  31273
sub_category    51290     17          Binders   6152
product_name    51290   3788          Staples    227
sales           51290   2246               13    589
order_priority  51290      4           Medium  29433

In [24]:
df[df.dtypes[df.dtypes == 'float64'].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [25]:
df[df.dtypes[df.dtypes == 'int64'].index]

       quantity  year
0             2  2011
1             3  2011
2             4  2011
3             3  2011
4             5  2011
...         ...   ...
51285         2  2014
51286         1  2014
51287         3  2014
51288         1  2014
51289         3  2014

[51290 rows x 2 columns]

In [26]:
df.year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
51285    2014
51286    2014
51287    2014
51288    2014
51289    2014
Name: year, Length: 51290, dtype: int64

In [29]:
df[["quantity"]].head(20)

    quantity
0          2
1          3
2          4
3          3
4          5
5          2
6          1
7          1
8          4
9          4
10         3
11         1
12         7
13         1
14         2
15         4
16         2
17         2
18         2
19         2

In [31]:
df[['order_id']][1:40000:2000]

              order_id
1        IN-2011-47883
2001   IT-2011-2558119
4001      IS-2011-4410
6001    MX-2011-102771
8001   ES-2011-4620955
10001  ES-2012-4160852
12001    ID-2012-79789
14001    IN-2012-30943
16001    IN-2012-50592
18001   CA-2012-113173
20001  ES-2013-4825636
22001   MX-2013-106425
24001   MX-2013-133256
26001  IT-2013-5081262
28001   CA-2013-131205
30001    IN-2013-59888
32001    IN-2013-37852
34001    ID-2014-48191
36001  ES-2014-4393845
38001     MO-2014-8700

In [32]:
df["new_col"]= "amit"

In [33]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,new_col
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,amit
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,amit
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,amit
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,amit
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,amit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,amit
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,amit
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,amit
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,amit
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,amit

In [34]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'new_col'],
      dtype='object')

In [35]:
df.drop('new_col', axis=1)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [36]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,new_col
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,amit
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,amit
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,amit
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,amit
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,amit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,amit
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,amit
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,amit
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,amit
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,amit

In [37]:
df.drop('new_col', axis=1, inplace=True)

In [38]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [40]:
df['order_id'].isnull().sum()

0

In [41]:
df.isnull().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [42]:
df[df['profit'] == max(df['profit'])]['customer_name']

29530    Tamara Chand
Name: customer_name, dtype: object

In [44]:
df[df['profit'] == min(df['profit'])][['customer_name', "profit"]]

       customer_name    profit
31884  Cindy Stewart -6599.978

In [45]:
df[df['profit'] == max(df['profit'])]['segment']

29530    Corporate
Name: segment, dtype: object

In [46]:
len(df[df['country'] == 'Sweden'])

203

In [47]:
len(df[df['country'] == 'India'])

1555

In [48]:
df[df['shipping_cost'] > 80]['country']

7          Australia
8        New Zealand
9               Iraq
27            Brazil
43            Mexico
            ...
51154      Indonesia
51228         Brazil
51229      Indonesia
51230         Russia
51231       Thailand
Name: country, Length: 3984, dtype: object

In [49]:
df[df['shipping_cost'] > 80][['country', 'profit']]

           country     profit
7        Australia   110.4120
8      New Zealand  -319.4640
9             Iraq   253.3200
27          Brazil   609.8400
43          Mexico   999.3600
...            ...        ...
51154    Indonesia    65.9340
51228       Brazil   301.4660
51229    Indonesia    46.9206
51230       Russia    51.8400
51231     Thailand -1195.2387

[3984 rows x 2 columns]

In [52]:
df[(df['shipping_cost'] > 100 )& (df['profit']< 10 )][["customer_name","profit"]]

              customer_name   profit
8              Ken Lonsdale -319.464
257            Hunter Lopez   -0.072
451              Ken Heidel  -58.560
625    Christopher Martinez -172.125
626    Christopher Martinez -456.174
...                     ...      ...
50781            Alan Hwang    0.000
50969          Frank Hawley -200.080
50970           Harry Marie  -44.940
51034             Adam Hart -102.411
51153          Naresj Patel -166.470

[604 rows x 2 columns]

In [53]:
df[['profit','customer_name', 'region']].max()

profit                     8399.976
customer_name    Zuschuss Donatelli
region                         West
dtype: object

In [54]:
df[['profit']].max()

profit    8399.976
dtype: float64

In [55]:
df[['customer_name']].max()

customer_name    Zuschuss Donatelli
dtype: object

In [58]:
df[["region"]].max()

region    West
dtype: object

In [60]:
df.max()

order_id                                ZI-2014-9650
order_date                                  9/9/2014
ship_date                                   9/9/2014
ship_mode                             Standard Class
customer_name                     Zuschuss Donatelli
segment                                  Home Office
state                                         Zrich
country                                     Zimbabwe
market                                            US
region                                          West
product_id                          TEC-STA-10004927
category                                  Technology
sub_category                                  Tables
product_name      netTALK DUO VoIP Telephone Service
sales                                            999
quantity                                          14
discount                                        0.85
profit                                      8399.976
shipping_cost                                 933.57
order_priority                                Medium
year                                            2014
dtype: object

In [61]:
df.min()

order_id                                               AE-2011-9160
order_date                                                 1/1/2011
ship_date                                                  1/1/2012
ship_mode                                               First Class
customer_name                                         Aaron Bergman
segment                                                    Consumer
state                                                        'Ajman
country                                                 Afghanistan
market                                                         APAC
region                                                       Africa
product_id                                         FUR-ADV-10000002
category                                                  Furniture
sub_category                                            Accessories
product_name      "While you Were Out" Message Book, One Form pe...
sales                                                             0
quantity                                                          1
discount                                                        0.0
profit                                                    -6599.978
shipping_cost                                                   0.0
order_priority                                             Critical
year                                                           2011
dtype: object

In [62]:
df[['profit','customer_name', 'region']].min()

profit               -6599.978
customer_name    Aaron Bergman
region                  Africa
dtype: object

In [63]:
df.order_date

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [64]:
date = pd.to_datetime(df['order_date'])

In [65]:
date

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
51285   2014-12-31
51286   2014-12-31
51287   2014-12-31
51288   2014-12-31
51289   2014-12-31
Name: order_date, Length: 51290, dtype: datetime64[ns]

In [66]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [67]:
df['converted_order_date'] = pd.to_datetime(df['order_date'])

In [68]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,2011-01-01
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,2011-01-01
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,2011-01-01
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,2011-01-01
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,2014-12-31
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,2014-12-31
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,2014-12-31
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,2014-12-31
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,2014-12-31

In [69]:
df1 = df.copy()

In [71]:
df1.dtypes

order_id                        object
order_date                      object
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                           object
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
converted_order_date    datetime64[ns]
dtype: object

In [73]:
df1["order_date"] = pd.to_datetime(df['order_date'])

In [74]:
df1.dtypes

order_id                        object
order_date              datetime64[ns]
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                           object
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
converted_order_date    datetime64[ns]
dtype: object

In [76]:
df1.loc[0:1, "newcol"] = "py"

In [77]:
df1

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,newcol
0,AG-2011-2040,2011-01-01,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,2011-01-01,py
1,IN-2011-47883,2011-01-01,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,2011-01-01,py
2,HU-2011-1220,2011-01-01,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,2011-01-01,NaN
3,IT-2011-3647632,2011-01-01,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,2011-01-01,NaN
4,IN-2011-47883,2011-01-01,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,2011-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,2014-12-31,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,2014-12-31,NaN
51286,MO-2014-2560,2014-12-31,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,2014-12-31,NaN
51287,MX-2014-110527,2014-12-31,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,2014-12-31,NaN
51288,MX-2014-114783,2014-12-31,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,2014-12-31,NaN
51289,CA-2014-156720,2014-12-31,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,2014-12-31,NaN

In [80]:
df1.iloc[:, 0:1] = "new2"

In [81]:
df1

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,newcol
0,new2,2011-01-01,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,2011-01-01,py
1,new2,2011-01-01,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,2011-01-01,py
2,new2,2011-01-01,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,2011-01-01,NaN
3,new2,2011-01-01,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,2011-01-01,NaN
4,new2,2011-01-01,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,2011-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,new2,2014-12-31,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,2014-12-31,NaN
51286,new2,2014-12-31,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,2014-12-31,NaN
51287,new2,2014-12-31,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,2014-12-31,NaN
51288,new2,2014-12-31,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,2014-12-31,NaN
51289,new2,2014-12-31,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,2014-12-31,NaN

In [82]:
df['order_date_year'] = df['converted_order_date'].dt.year

In [83]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,2011-01-01,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,2011-01-01,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,2011-01-01,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,2011-01-01,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,2011-01-01,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,2014-12-31,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,2014-12-31,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,2014-12-31,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,2014-12-31,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,2014-12-31,2014

In [84]:
df['order_date_month'] = df['converted_order_date'].dt.month

In [85]:
df['order_date_week'] = df['converted_order_date'].dt.isocalendar().week

In [86]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'converted_order_date', 'order_date_year', 'order_date_month',
       'order_date_week'],
      dtype='object')

In [87]:
df[df['order_date_year'] == 2014 ]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
33759,ES-2014-2774938,1/1/2014,1/3/2014,Second Class,Fred Harton,Consumer,Ile-de-France,France,EU,Central,...,3,0.15,-111.6225,104.69,High,2014,2014-01-01,2014,1,1
33760,IN-2014-47134,1/1/2014,1/5/2014,Standard Class,Kean Nguyen,Corporate,Victoria,Australia,APAC,Oceania,...,3,0.10,46.9980,46.20,Medium,2014,2014-01-01,2014,1,1
33761,IT-2014-4810734,1/1/2014,1/3/2014,Second Class,Alan Shonely,Consumer,Ile-de-France,France,EU,Central,...,6,0.15,-43.1370,37.85,Critical,2014,2014-01-01,2014,1,1
33762,US-2014-105830,1/1/2014,1/3/2014,First Class,Duane Benoit,Consumer,Ohio,United States,US,East,...,4,0.20,-35.2152,30.66,High,2014,2014-01-01,2014,1,1
33763,CA-2014-160395,1/1/2014,1/7/2014,Standard Class,Kelly Lampkin,Corporate,Nevada,United States,US,West,...,7,0.20,53.9217,26.90,Low,2014,2014-01-01,2014,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.20,4.5188,0.89,Medium,2014,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,1,0.00,0.4200,0.49,Medium,2014,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.00,12.3600,0.35,Medium,2014,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,1,0.00,0.5600,0.20,Medium,2014,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,3,0.20,-0.6048,0.17,Medium,2014,2014-12-31,2014,12,1

In [90]:
df['order_date_month'].value_counts(ascending= True)

order_date_month
2     2168
1     2599
3     3035
4     3057
7     3166
5     3747
10    4490
8     5078
6     5331
9     5975
12    6302
11    6342
Name: count, dtype: int64

In [91]:
df['cost_to_comapny'] = df['discount'] + df['shipping_cost']

In [92]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_comapny
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,2014-12-31,2014,12,1,1.09
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,2014-12-31,2014,12,1,0.49
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,2014-12-31,2014,12,1,0.35
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,2014-12-31,2014,12,1,0.20
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,2014-12-31,2014,12,1,0.37

In [96]:
df.loc[[2,4673,7387]]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_comapny
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,2011-01-01,2011,1,52,8.17
4673,CA-2011-101266,8/27/2011,8/30/2011,Second Class,Michael Moore,Consumer,Virginia,United States,US,South,...,0.0,6.4128,1.39,Medium,2011,2011-08-27,2011,8,34,1.39
7387,MX-2011-110275,11/22/2011,11/23/2011,First Class,Shui Tom,Consumer,Chinandega,Nicaragua,LATAM,Central,...,0.0,23.2000,34.10,Medium,2011,2011-11-22,2011,11,47,34.10

In [94]:
df.loc[2:10:2]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_comapny
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.00,29.6400,8.17,High,2011,2011-01-01,2011,1,52,8.17
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.10,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52,4.80
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,0.00,3.1200,24.10,Medium,2011,2011-01-02,2011,1,52,24.10
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,0.40,-319.4640,107.10,Low,2011,2011-01-03,2011,1,1,107.50
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,0.45,-122.8005,33.75,High,2011,2011-01-03,2011,1,1,34.20

In [98]:
df.loc[0:10:2,['order_id','order_date','ship_date']]

         order_id order_date ship_date
0    AG-2011-2040   1/1/2011  1/6/2011
2    HU-2011-1220   1/1/2011  1/5/2011
4   IN-2011-47883   1/1/2011  1/8/2011
6    CA-2011-1510   1/2/2011  1/6/2011
8   ID-2011-80230   1/3/2011  1/9/2011
10  IN-2011-65159   1/3/2011  1/7/2011

In [99]:
df.loc[:,['order_id','order_date','ship_date']]

              order_id  order_date ship_date
0         AG-2011-2040    1/1/2011  1/6/2011
1        IN-2011-47883    1/1/2011  1/8/2011
2         HU-2011-1220    1/1/2011  1/5/2011
3      IT-2011-3647632    1/1/2011  1/5/2011
4        IN-2011-47883    1/1/2011  1/8/2011
...                ...         ...       ...
51285   CA-2014-115427  12/31/2014  1/4/2015
51286     MO-2014-2560  12/31/2014  1/5/2015
51287   MX-2014-110527  12/31/2014  1/2/2015
51288   MX-2014-114783  12/31/2014  1/6/2015
51289   CA-2014-156720  12/31/2014  1/4/2015

[51290 rows x 3 columns]

In [100]:
df.iloc[0:4 , :]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_comapny
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52,5.32

In [101]:
df.iloc[0:4 , 0:4]

          order_id order_date ship_date       ship_mode
0     AG-2011-2040   1/1/2011  1/6/2011  Standard Class
1    IN-2011-47883   1/1/2011  1/8/2011  Standard Class
2     HU-2011-1220   1/1/2011  1/5/2011    Second Class
3  IT-2011-3647632   1/1/2011  1/5/2011    Second Class

In [102]:
df.iloc[0:400:20 , 0:26:3]

,order_id,ship_mode,state,region,sub_category,quantity,shipping_cost,converted_order_date,order_date_week
0,AG-2011-2040,Standard Class,Constantine,Africa,Storage,2,35.46,2011-01-01,52
20,IN-2011-79397,Same Day,New South Wales,Oceania,Labels,3,7.46,2011-01-03,1
40,IT-2011-2942451,Standard Class,England,North,Storage,2,0.90,2011-01-04,1
60,CA-2011-167199,Standard Class,Kentucky,South,Phones,2,62.37,2011-01-07,1
80,ID-2011-28752,Standard Class,Singapore,Southeast Asia,Labels,2,0.89,2011-01-07,1
100,IN-2011-61302,First Class,Queensland,Oceania,Phones,5,665.27,2011-01-10,2
120,SF-2011-6400,Standard Class,North-West,Africa,Binders,1,1.29,2011-01-10,2
140,US-2011-163874,First Class,Mxico,North,Appliances,3,6.47,2011-01-11,2
160,NI-2011-1670,Standard Class,Lagos,Africa,Fasteners,1,0.25,2011-01-12,2
180,ES-2011-1043483,Standard Class,Vienna,Central,Paper,11,30.34,2011-01-14,2
200,ES-2011-1374122,First Class,Nord-Pas-de-Calais,Central,Bookcases,2,88.52,2011-01-15,2
220,ES-2011-3305419,Second Class,Ile-de-France,Central,Storage,3,6.46,2011-01-17,3
240,CA-2011-8390,Second Class,Manitoba,Canada,Fasteners,1,1.40,2011-01-19,3
260,US-2011-147627,Standard Class,Arkansas,South,Phones,7,31.52,2011-01-21,3
280,US-2011-147627,Standard Class,Arkansas,South,Art,7,1.22,2011-01-21,3
300,ID-2011-86950,First Class,Queensland,Oceania,Fasteners,1,1.77,2011-01-22,3
320,IT-2011-2413417,First Class,Emilia-Romagna,South,Fasteners,4,5.24,2011-01-24,4
340,NI-2011-7750,Second Class,Kwara,Africa,Art,1,0.28,2011-01-25,4
360,ES-2011-3429709,Standard Class,Madrid,South,Labels,3,4.82,2011-01-26,4
380,MX-2011-160150,Second Class,Tamaulipas,North,Supplies,2,6.70,2011-01-27,4

In [103]:
df2 = df[df.dtypes[(df.dtypes == 'float64') | ( df.dtypes == 'int64')].index]

In [104]:
df2

       quantity  discount    profit  shipping_cost  year  cost_to_comapny
0             2       0.0  106.1400          35.46  2011            35.46
1             3       0.1   36.0360           9.72  2011             9.82
2             4       0.0   29.6400           8.17  2011             8.17
3             3       0.5  -26.0550           4.82  2011             5.32
4             5       0.1   37.7700           4.70  2011             4.80
...         ...       ...       ...            ...   ...              ...
51285         2       0.2    4.5188           0.89  2014             1.09
51286         1       0.0    0.4200           0.49  2014             0.49
51287         3       0.0   12.3600           0.35  2014             0.35
51288         1       0.0    0.5600           0.20  2014             0.20
51289         3       0.2   -0.6048           0.17  2014             0.37

[51290 rows x 6 columns]